

$naranja: #FFA800;
$naranjaDark:#F2640E;

.encabezado{
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		align-items:center;
   }

a{
		text-decoration: none;
		color: Black;
		
	}	

/* TIOGRAFIA */

h1.letraAmplia{
	font-family:'Montserrat', sans-serif;
	font-size: 35px;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	}

	@media screen and (max-width: 600px) {
	h1.letraAmplia{
	font-size: 25px;
	letter-spacing: 3px;
	}	
}


h1.letraAmplia:hover {
	  transition: 3s;
	  font-size: 45px;
	}

@media screen and (max-width: 600px) {
	div.letraAmplia:hover{
	transition: 3s;
	  font-size: 45px;
	}	
}

h2.titulos{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	h2.titulos{
	font-size: 20px;
	letter-spacing: 4px;
	}	
}


h3{
	font-family: "Montserrat";
	letter-spacing: 3px;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFA800;
}

h4{
	font-family: "Montserrat";
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: white;
	text-decoration: none;
}

.textoParrafo{
	font-family: "roboto";
	text-align: center;
	letter-spacing: 1px;
	line-height: 2;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 20px;
}

@media screen and (max-width: 600px) {
	.textoParrafo{
	margin-left: 12%;
	margin-right: 12%;
	font-size: 15px;
	}	
}

.textoMediano {
	text-align: center;
  	font-family:'Montserrat', sans-serif;
  	letter-spacing: 3px;
  	text-transform: uppercase;
  	font-size: 18px;
  	color: Black;
  	text-decoration: none;
  
}


.tipoNegra{
	font-family: 'Montserrat', sans-serif;
 	text-align: center;
 	letter-spacing: 2px;
  	text-transform: uppercase;
  	font-size: 15px;
  	color: Black;
  	padding-top: 1rem;
  	padding-bottom: 1rem;
}

.tipoBlanca{
	font-family: 'Montserrat', sans-serif;
 	text-align: center;
 	letter-spacing: 2px;
  	text-transform: uppercase;
  	font-size: 15px;
  	color: White;
  	padding-top: 1rem;
  	padding-bottom: 1rem;
}

hr{
	color:$naranjaDark;
	width: 10%;
    text-align: center;
    margin: 35px 45% 15px;
}


/* CLASES */

ul{
	list-style: none;
	font-size: 0px;
	flex:1;

		ul{	
			position: absolute;
   			display: none;

   			li{
   				display: block;
				background: #FFFFFF;
				width: 100%;
   			}
		}
}

li{
	display: inline-block;
	color:#F44611;
	font-family: "Roboto";
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	font-size: 13px;
	text-align: center;
	padding:5px;
}

ul li:hover ul{
	display:block;
}

/*div.container-fluid {
 margin-right: 15rem;
 margin-left: 15rem; 
 margin-top: 1rem;
}*/

.justify-content-end{
	padding-right: 15%;
}


.navbar-brand{
	margin-left: 15%;
}
/* IMAGENES */

img.imagenApertura{
	width: 100%
}

@media screen and (max-width: 600px) {
	img.imagenApertura{
	width:200%;
	transform: translateX(-28%);
	}	
}

img.logoashtangaBA{
	margin-left:42%;
	width: 16%;
}

section.contenedorGaleria{
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;

    img{
    width: 100%;
 	border-radius: 7px;

    }
}

.trans:hover {
	opacity: 45%;
}


/*probando media querys*/

@media screen and (max-width: 992px) {
	section.contenedorGaleria{
	grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
	}	
}

@media screen and (max-width: 600px) {
	section.contenedorGaleria{
	grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
	}	
}

@media screen and (max-width: 600px) {
	section.contenedorGaleria>:nth-child(even){
    display: none;
    }
}




/* MAS CLASES */

div.tamanios{
	height: 658px;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.boxColorido{
	background-image: url("../img/contactoMats.jpg");
	border: none;
	width: 50%;
	color: white;
	font-family: Montserrat;
	font-size: 20px;
	letter-spacing: 5px;
	text-align: center;
	font-weight: bold;	

}

@media screen and (max-width: 600px) {
	.boxColorido{
	width: 100%;
	}	
}

.boxNegra{
	background-image: url("../img/contactoPiso.jpg");
	border: none;
	width: 49%;
}


@media screen and (max-width: 600px) {
	.boxNegra{
	width: 100%;
	}	
}

input{
	border: none;
}

textarea{
	border: none;
}

value{
	border:none;
}

.fondoFooter{
	background-color:$naranjaDark;
	height:95px; 
	text-align: center;

}

.d-flex{
	padding-left: 15%;
}

.figure{
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Montserrat', sans-serif;
}

.elemento{
	text-align: center;
}


@media screen and (max-width: 600px) {
	.row-cols-4>* {
    flex: 0 0 auto;
    width: 100%;}
}	



.anchoMail{
	width: 66%;
}

.anchoMailX2{
	width: 33%
}